p {
  margin: 14px 0;
}

h2 {
  margin: 0 0 60px;
  font-weight: 100;
  font-size: 2.2rem;
}

h3 {
  margin: 0 0 30px;
  font-weight: 100;
  font-size: 1.6rem;
}

h4 {
  margin: 30px 0 5px;
  font-weight: 600;
  font-size: 1.1rem;
}

h5 {
  margin: 14px 0;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
}

a.inherit {
  color: inherit;
}

#navigation {
  margin-bottom: -64px;
  .name {
      transition: opacity 500ms ease;
      font-family: 'Amatic SC', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      margin-left: 15px;
  }
  &:not(.pinned) {
    .name {
      opacity: 0;
    }
  }
}

#experience.section {
  padding-top: 124px;
}

.about-container {
  height: auto;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    line-height: 1;
  }

  .role {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0 60px;
  }

  .flow-text {
    font-size: 1.2em;
    b { font-weight: 700; }
  }

  .text-container {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .more-button {
    margin-top: 30px;
  }
}

.experience-container {
  .date {
    margin-bottom: 14px;
    font-weight: bold;
    font-style: italic;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
  }

  .image {
    margin-top: 14px;
  }

  .project-container {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.education-container {
  .date {
    margin-bottom: 14px;
    font-weight: bold;
    font-style: italic;
  }

  .image {
    margin-top: 38px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}


footer {
  &.page-footer { margin: 0; }

  .footer-container {
    font-size: .85rem;
  }

  .footer-copyright {
    font-size: .8em;

    .name {
      font-family: 'Amatic SC', sans-serif;
      font-weight: bold;
      font-size: 1rem;
    }

    a {
      margin-left: 5px;
      .fa {
        vertical-align: middle;
      }
    }
  }
}

.section {
  padding: 60px 0;
  p:last-child {
    margin-bottom: 0;
  }
  &.small {
    padding: 20px 0;
  }
}

.small-parallax {
  height: 160px;
}

.show-on-small{
  display: none;
}
