{% extends "static/base.html" %}
{% load curriculum thumbnail %}

{% block content %}
{% get_curriculum as curriculum %}
<div class="valispace-functions-container">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l4">
          <h3>Functions list</h3>
          <div id="functions-container"></div>
          <form id="new-function-form">
            <div class="input-field">
              <label for="new-function-input">Add new function</label>
              <input id="new-function-input" class="col s10" type="text" required="required" />
            </div>
          </form>
        </div>
        <div class="col s12 m5 l7 offset-m1 offset-l1">
          <h3>Parse Function</h3>
          <form id="parse-function-form">
            <div class="input-field">
              <label for="parse-function-input">What would you like to parse?</label>
              <input id="parse-function-input" type="text" required="required" />
            </div>
            <div class="hints">
              <small>
                Examples: <em>f1</em> or <em>f1 + f2</em></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="parse-result-container" class="section grey lighten-5" style="display: none;">
  <div class="container center-text">
    <h3>Result</h3>
    <div id="parse-result" class="parser-result" style="margin-bottom: 20px;"></div>
    <a id="parse-result-clear-btn" class="btn">Clear results</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script id="function-template" type="text/html">
  <div class="row">
    <div class="col s1"><b>f<%= index + 1 %></b>:</div>
    <div class="col s9"><%= func.syntax %></div>
    <div class="col s2">
      <a class="remove-function red-text" data-function-id="<%= func.id %>">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
</script>

<script>
   var functionTemplate = $('#function-template').html();
   var functionsContainer = $('#functions-container');

   function updateFunctions() {
     $.get({
       url: '/valispace/functions/list/',
       dataType: 'json',
       success: function (response) {
         functionsContainer.html('');
         for (var i=0; i < response.length; i++) {
           functionsContainer.append(_.template(functionTemplate)({
             index: i,
             func: response[i]
           }));
         }

         $('.remove-function').click(function(e) {
           e.preventDefault();
           $.ajax({
             url: '/valispace/functions/delete/' + $(this).data('function-id') + '/',
             method: 'delete',
             success: function() {
               updateFunctions();
             }
           });
         });
       }
     });
   }

  $(document).ready(function() {
    $('#new-function-form').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/valispace/functions/create/',
        method: 'post',
        data: JSON.stringify({'syntax': $('#new-function-input').val() }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function()  {
          $('#new-function-input').val('');
          updateFunctions();
        }
      });
    });

    $('#parse-function-form').submit(function(e) {
      e.preventDefault();
      $('#parse-result').html('Parsing...').removeClass('error');
      $('#parse-result-container').show();
      var syntax = $('#parse-function-input').val();

      $.ajax({
        url: '/valispace/functions/parse/',
        method: 'post',
        data: JSON.stringify({'syntax': syntax }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(response)  {
          $('#parse-result').html(response.result);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          var error = jqXHR.responseJSON.detail;
          $('#parse-result').html("Error while parsing '"+ syntax +"': "+ error).addClass('error');
        }
      });
    });

    $('#parse-result-clear-btn').click(function(e) {
      e.preventDefault();
      $('#parse-result').html('');
      $('#parse-result-container').hide();
    });

    updateFunctions();
  });
</script>
{% endblock %}